header, section  {
	display: block;
  }
body {
	background-color: #FFE4E1;
	background-position: center;
	font-family: Georgia, Times, serif;
	line-height: 1.4em;
	margin: 0%;
  }

header {
	background-color: red;
	height: 70px;
	display: flex;
}

header p{
	color: white;
	padding-top: 2vh;
	font-size: 20px;
	margin-left: 5%;
	width: inherit;
	white-space: nowrap;
	font-family: arial;
}

header h1 {
  padding-left: 20px;
  padding-top: 25px;
  padding-bottom: 20px;
  font-size: 50px;
  font-weight: bold;
  font-family: arial;
  margin-bottom: 0px;
  color: white;
	width: 30vw;
	white-space: nowrap;
	margin-top: 0%;
}

header div{
	display:flex;
	padding-left: 20vw;
	padding-right: 5vw;
}

header button {
	text-align: center;
	margin-right: 15%;
	width: 130px;
	height: 30px;
	font-size: 20px;
	background-color: pink;
	margin-top: 6%;
	color: white;
  font-weight: bold;
  border-radius:6px;
  box-shadow:0 2px 10px #999;
  cursor:pointer;
  transition:all 0.2s ease-out;
}

section.vision p {
  margin-top: 0px;
  vertical-align: top;
  text-align: center;
  color: white;
  line-height: 150%;
  font-style: italic;
	font-weight: bold;
  font-family: monospace;
  font-size: 35px;
  padding-top: 100px;
  padding-bottom: 300px;
	zoom: 150%;
  background-image:url("../images/Business_city1.jpg");
	background-size: auto;
  background-position: center;
}

section.visionDetail h1 {
	word-break: normal;
	padding-left: 20px;
}
section.visionDetail p,li{
	word-break: normal;
	padding-left: 20px;
	line-height: 180%;
	font-size: 18px;
}
section.visionDetail h2{
	font-size: 30px;
	word-break: normal;
	padding-left: 20px;
	line-height: 180%
}

section h1 {
	padding-left: 20px;
	padding-top: 20px;
	padding-bottom:20px;
	font-size: 40px;
	background-color: #D2691E;
	color: white;
}
section.programs h2 {
	color: Red;
	padding-left: 20px;
  padding-top: 5px;
  padding-bottom: 15px;
	margin-bottom: 0px;
	font-size: 30px;
	font-family: Arial;

}

article {
	display: flex;
	margin-bottom: 2%;
}
section.programs h3{
	padding-left: 20px;
	margin-top: 0px;
  padding-bottom: 20px;
	font-size: 25px;
	margin-bottom: 0px;
	color: black;
}
section.programs p{
	margin-top: 0px;
	font-size: 18px;
	padding-left: 30px;
}
section.programs li{
	line-height: 230%;
	font-size: 110%;
	font-family: Sans-Serif;
	font-weight: bold;
}
div.programsTheme {
	padding-top: 20px;
	padding-bottom: 20px;
	padding-right: 20px;
  background-color: #FFC7AF;
	margin: 20px;
	border-color: #D2691E;
	border: solid;
  border-radius: 8px;
	height: auto;
	width: 50%;
	word-wrap: break-word;
}
div.hidden {
	display: none;
	font-size:80%;
  padding: 8%;
	padding-bottom: 4%;
	padding-top: 5%;
	width: auto;
	background-color: #FFAD90;
  color: black;
	border: solid;
	border-color: #FFDEAD;
  border-radius: 4px;
}
div.hidden img{
	width: 37%;
	height: 18%;
	display: inline-block;
	border: solid;
	border-color: #FFDEAD;
  border-radius: 4px;
	margin: 5%;
}
button.SHOW {
  cursor: pointer;
	margin-bottom: 3%;
	margin-left: 3%;
}

footer{
	height: 15%;
	background: black;
	position: relative;
}

footer p{
	position: relative;
	text-align: left;
	color: white;
	padding-top: 0.5%;
	padding-left: 1.5%;
}

button.to-top{
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: auto;
	margin: 5%;
	width: 60px;
	height: 60px;
	right: 0;
	margin-bottom: 10px ;
	font-size: 50px;
	font-weight: bold;
	color: #fff;
	background: white;
	cursor: pointer;
}
