header, section {
	display: block;
  }
body {
	background-color: #FFE4E1;
	background-position: center;
	font-family: Georgia, Times, serif;
	line-height: 1.4em;
	margin: 0px;
  }

h1 {
	background-color: #D7EEFF;
	color: black;
	padding-left: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
	margin-bottom: 0px;
}

section.vision h1 {
  background-color: black;
  padding-left: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 30px;
  font-weight: bold;
  font-family: arial;
  margin-bottom: 0px;
  color: white;
}
section.vision p {
  margin-top: 0px;
  vertical-align: top;
  text-align: center;
  color: white;
  line-height: 150%;
  font-style: italic;
  font-family: monospace;
  font-size: 35px;
  padding-top: 140px;
  padding-bottom: 140px;
  background-image:url("../images/yokohama_twilight.jpg");
  background-position: center;
}

article.developedCountries {
	display: flex;
}

article.developingCountries {
	display: flex;
}

section.programs h1{
	padding-left: 15px;
	font-size: 30px;
	font-style: italic;
	font-family: Courier;
	border-top: solid;
	border-bottom: solid;
	border-color: #FFC792;
}

section.programs h2{
	padding-left: 20px;
	margin-top: 0px;
  padding-bottom: 20px;
	font-size: 25px;
	margin-bottom: 0px;
	color: black;
}

section.programs p{
	margin-top: 0px;
	font-size: 15px;
	padding-left: 30px;
}

section.programs h3{
	font-size: 15px;
	padding-left: 30px;
}

section.programs li{
	line-height: 230%;
	font-size: 110%;
	font-family: Sans-Serif;
	font-weight: bold;
}
/*
div.Internship1 {
	padding-top: 20px;
	padding-bottom: 20px;
	background-color: #EEFFFF;
	padding-right: 10px;
	word-wrap: break-word;
	width: 50%;
	height: auto;
}
*/

	div.programsTheme {
	padding-top: 20px;
	padding-bottom: 20px;
	padding-right: 20px;
  background-color: #FFC7AF;
	margin: 15px;
	border-color: black;
	border: solid;
  border-radius: 8px;
	height: auto;
	width: 50%;
	word-wrap: break-word;
}
/*
div.Internship2 {
	padding-top: 20px;
	padding-bottom: 20px;
	background-color: #EEFFFF;
	height: auto;
	width: 50%;
	word-wrap: break-word;
}

div.Volunteer2 {
	padding-top: 20px;
	padding-bottom: 20px;
	background-color: #FFEEFF;
	margin-bottom: 15px;
	height: auto;
	width: 50%;
	word-wrap: break-word;
}
*/
div.hidden {
	display: none;
  padding: 8%;
	padding-top: 5%;
	width: auto;
	background-color: #FFAD90;
  color: black;
	border: solid;
	border-color: #FFDEAD;
  border-radius: 4px;
}

.hidden img{
	width: 37%;
	height: 18%;
	display: inline-block;
	border: solid;
	border-color: #FFDEAD;
  border-radius: 4px;
	margin: 5%;
}

.SHOW {
  cursor: pointer;
  }


	footer{
	  height: 10%;
	  background: black;
	position: relative;
	}

	.to-top{
	  position: relative;
	  display: flex;
	  align-items: center;
	  justify-content: center;
		font-size: auto;
		margin: 5%;
	  width: 60px;
	  height: 60px;
	  right: 0;
	  margin-bottom: 10px ;
	  font-size: 50px;
	  font-weight: bold;
	  color: #fff;
	  background: white;
	  cursor: pointer;
	}
