header, section  {
	display: block;
  }
body {
	background-color: #FFE4E1;
	background-position: center;
	font-family: Georgia, Times, serif;
	line-height: 1.4em;
	margin: 0%;
  }

header {
	background-color: red;
	height: 7%;
	display: flex;
}

header h1 {
  padding-left: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 30px;
  font-weight: bold;
  font-family: arial;
  margin-bottom: 0px;
  color: white;
	width: 30%;
	margin-top: 0%;
}

header div{
	display:flex;
	padding-left: 45%;
}

header button {
	text-align: center;
	margin-right: 15%;
	width: 130px;
	height: 30px;
	background-color: pink;
	margin-top: 5%;
	color: white;
}

section.vision p {
  margin-top: 0px;
  vertical-align: top;
  text-align: center;
  color: white;
  line-height: 150%;
  font-style: italic;
  font-family: monospace;
  font-size: 35px;
  padding-top: 140px;
  padding-bottom: 180px;
  background-image:url("../images/yokohama_twilight.jpg");
  background-position: center;
}

section h1 {
	padding-left: 10px;
	padding-top: 15px;
	padding-bottom:15px;
	background-color: #D2691E;
	color: white;
}
section.programs h2 {
	background-color: #D7EEFF;
	color: black;
	padding-left: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
	margin-bottom: 0px;
	font-size: 20px;
	font-family: Courier;
	border-top: solid;
	border-bottom: solid;
	border-color: #FFC792;
}
article {
	display: flex;
	margin-bottom: 2%;
}
section.programs h3{
	padding-left: 20px;
	margin-top: 0px;
  padding-bottom: 20px;
	font-size: 25px;
	margin-bottom: 0px;
	color: black;
}
section.programs p{
	margin-top: 0px;
	font-size: 15px;
	padding-left: 30px;
}
section.programs li{
	line-height: 230%;
	font-size: 110%;
	font-family: Sans-Serif;
	font-weight: bold;
}
div.programsTheme {
	padding-top: 20px;
	padding-bottom: 20px;
	padding-right: 20px;
  background-color: #FFC7AF;
	margin: 15px;
	border-color: #D2691E;
	border: solid;
  border-radius: 8px;
	height: auto;
	width: 50%;
	word-wrap: break-word;
}
div.hidden {
	display: none;
	font-size: 19%;
  padding: 8%;
	padding-bottom: 4%;
	padding-top: 5%;
	width: auto;
	background-color: #FFAD90;
  color: black;
	border: solid;
	border-color: #FFDEAD;
  border-radius: 4px;
}
div.hidden img{
	width: 37%;
	height: 18%;
	display: inline-block;
	border: solid;
	border-color: #FFDEAD;
  border-radius: 4px;
	margin: 5%;
}
button.SHOW {
  cursor: pointer;
}

footer{
	height: 10%;
	background: black;
	position: relative;
}

footer p{
	position: relative;
	text-align: left;
	color: white;
	padding-top: 0.5%;
	padding-left: 1.5%;
}

button.to-top{
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: auto;
	margin: 5%;
	width: 60px;
	height: 60px;
	right: 0;
	margin-bottom: 10px ;
	font-size: 50px;
	font-weight: bold;
	color: #fff;
	background: white;
	cursor: pointer;
}


/*
#info {
  width: 150px;
  padding: 10px;
  background-color: #aaa;
  color: #fff;
  font-weight: bold;
  line-height: 1.5;
}

section.search {

}

#right {
  float: right;
}
*/
